include md_plot/examples/BimodalArtificial.gz.pkl
include md_plot/examples/MTY_Clipped.gz.pkl
include md_plot/examples/MuncipalIncomeTaxYield_IncomeTaxShare.gz.pkl
include md_plot/examples/SampleLogInome.gz.pkl
include md_plot/examples/SkewedDistribution.gz.pkl
include md_plot/examples/SkewedDistributionLongTable.gz.pkl
include md_plot/examples/StocksData2018Q1.gz.pkl
include md_plot/examples/UniformSample.gz.pkl